name: Build PSEC
 
on:
  workflow_dispatch:
    inputs:
      force-py3-paho-mqtt2:
        description: "Build py3-paho-mqtt2"
        required: false
        type: 'boolean'
        default: 'false'
      force-psec-alpine-iso:
        description: "Build psec-alpine-iso"
        required: false
        type: 'boolean'
        default: 'false'
      force-psec-alpine-virt:
        description: "Build psec-alpine-virt"
        required: false
        type: 'boolean'
        default: 'false'
      force-psec-container-debian:
        description: "Build psec-container-debian"
        required: false
        type: 'boolean'
        default: 'false'
      force-psec-core:
        description: "Build psec-core"
        required: false
        type: 'boolean'
        default: 'false'
      force-psec-demo:
        description: "Build psec-demo"
        required: false
        type: 'boolean'
        default: 'false'
      force-psec-demo-gui:
        description: "Build psec-demo-gui"
        required: false
        type: 'boolean'
        default: 'false'
      force-psec-diag:
        description: "Build psec-diag"
        required: false
        type: 'boolean'
        default: 'false'
      force-psec-gui-base:
        description: "Build psec-gui-base"
        required: false
        type: 'boolean'
        default: 'false'
      force-psec-lib:
        description: "Build psec-lib"
        required: false
        type: 'boolean'
        default: 'false'
      force-psec-sys-gui:
        description: "Build psec-sys-gui"
        required: false
        type: 'boolean'
        default: 'false'
      force-psec-sys-usb:
        description: "Build psec-sys-usb"
        required: false
        type: 'boolean'
        default: 'false'      
  push:
    branches:
      - "**"
    paths:
      - "setup/packages/psec/**"
      - "python/**"
 
jobs:  
  detect-changes:
    name: Detect changed packages
    runs-on: ubuntu-latest
    outputs:
      pkg-py3-paho-mqtt2: ${{ steps.detect.outputs.py3-paho-mqtt2 }}
      pkg-psec-alpine-iso: ${{ steps.detect.outputs.psec-alpine-iso }}
      pkg-psec-alpine-virt: ${{ steps.detect.outputs.psec-alpine-virt }}
      pkg-psec-container-debian: ${{ steps.detect.outputs.psec-container-debian }}
      pkg-psec-core: ${{ steps.detect.outputs.psec-core }}
      pkg-psec-demo: ${{ steps.detect.outputs.psec-demo }}
      pkg-psec-demo-gui: ${{ steps.detect.outputs.psec-demo-gui }}
      pkg-psec-diag: ${{ steps.detect.outputs.psec-diag }}
      pkg-psec-gui-base: ${{ steps.detect.outputs.psec-gui-base }}
      pkg-psec-lib: ${{ steps.detect.outputs.psec-lib }}
      pkg-psec-sys-gui: ${{ steps.detect.outputs.psec-sys-gui }}
      pkg-psec-sys-usb: ${{ steps.detect.outputs.psec-sys-usb }}
      app-demo: ${{ steps.detect.outputs.app-demo }}
      app-demo2: ${{ steps.detect.outputs.app-demo2 }}
      app-diag: ${{ steps.detect.outputs.app-diag }}
      app-lib: ${{ steps.detect.outputs.app-lib }}
      app-tests: ${{ steps.detect.outputs.app-tests }}
            
    steps:
      - uses: actions/checkout@v4
      - name: Detect changed components
        id: detect
        run: |
          echo "Detecting changes..."
          declare -A paths=(
            [py3-paho-mqtt2]="setup/packages/psec/py3-paho-mqtt2/"
            [psec-alpine-iso]="setup/packages/psec/py3-paho-mqtt2/"
            [psec-alpine-virt]="setup/packages/psec/py3-paho-mqtt2/"
            [psec-container-debian]="setup/packages/psec/py3-paho-mqtt2/"
            [psec-core]="setup/packages/psec/psec-core/"
            [psec-demo]="setup/packages/psec/psec-demo/"
            [psec-demo-gui]="setup/packages/psec/psec-demo-gui/"
            [psec-diag]="setup/packages/psec/psec-diag/"
            [psec-gui-base]="setup/packages/psec/psec-gui-base/"
            [psec-lib]="setup/packages/psec/psec-lib/"
            [psec-sys-gui]="setup/packages/psec/psec-sys-gui/"
            [psec-sys-usb]="setup/packages/psec/psec-sys-usb/"
            [app-diag]="python/diag/"
            [app-demo]="python/demo/"
            [app-demo2]="python/demo2/"
            [app-lib]="python/lib/"
            [app-tests]="python/tests/"
          )

          for key in "${!paths[@]}"; do
            if git diff --name-only ${{ github.event.before }} ${{ github.sha }} \
              | grep "^${paths[$key]}"; then
              echo "$key=true" >> $GITHUB_OUTPUT
            else
              echo "$key=false" >> $GITHUB_OUTPUT
            fi
          done

  prepare:
    runs-on: ubuntu-latest
    needs: detect-changes
    outputs:
      check-py3-paho-mqtt2: ${{ steps.check-py3-paho-mqtt2 }}
      check-psec-lib: ${{ steps.check-psec-lib }}
    steps:
      - id: check-py3-paho-mqtt2      
        env:
          PKG_CHANGED: ${{ needs.detect-changes.outputs.pkg-py3-paho-mqtt2 }}
          FORCE: ${{ github.event.inputs.force-py3-paho-mqtt2 }}
        run: |          
          if [[ $PKG_CHANGED == 'true' || $FORCE == 'true' ]]; then 
            echo "check-py3-paho-mqtt2=true" >> $GITHUB_OUTPUT
          else 
            echo "check-py3-paho-mqtt2=false" >> $GITHUB_OUTPUT
          fi
      - id: check-psec-lib
        env:
          PKG_CHANGED: ${{ needs.detect-changes.outputs.pkg-psec-lib }}
          FORCE: ${{ github.event.inputs.force-psec-lib }}
        run: |          
          if [[ $PKG_CHANGED == 'true' || $FORCE == 'true' ]]; then 
            echo "check-psec-lib=true" >> $GITHUB_OUTPUT
          else 
            echo "check-psec-lib=false" >> $GITHUB_OUTPUT
          fi

  build-py3-paho-mqtt2:
    needs: detect-changes
    if: needs.prepare.outputs.check-py3-paho-mqtt2 == 'true' || needs.prepare.outputs.check-psec-lib == 'true'
    runs-on: ubuntu-latest
 
    container:
      image: alpine:3.21
 
    steps:      
      - name: Checkout sources
        uses: actions/checkout@v4
 
      - name: Prepare build environment
        uses: ./.github/actions/prepare-build-env
        with:
          abuild-key: ${{ secrets.ABUILD_PRIVATE_KEY }}
 
      - name: Build APK
        working-directory: setup/packages/psec/py3-paho-mqtt2
        run: |
          sudo -u builder abuild checksum
          sudo -u builder abuild -r   

      - name: Upload packages
        uses: actions/upload-artifact@v4
        with:
          name: py3-paho-mqtt2
          path: /home/builder/packages/psec/x86_64/*.apk
          
  build-psec-lib:
    needs: [ detect-changes, build-py3-paho-mqtt2 ]
    if: needs.prepare.outputs.check-psec-lib == 'true'
    runs-on: ubuntu-latest
 
    container:
      image: alpine:3.21
 
    steps:      
      - name: Checkout sources
        uses: actions/checkout@v4
 
      - name: Prepare build environment
        uses: ./.github/actions/prepare-build-env
        with:
          abuild-key: ${{ secrets.ABUILD_PRIVATE_KEY }}
 
      - name: Download py3-paho-mqtt dependecy
        uses: actions/download-artifact@v4
        with:
          name: py3-paho-mqtt
          path: /home/builder/packages/psec/x86_64
          run-id: ${{ github.event.workflow_run.id }}
 
      - name: Build APK
        working-directory: setup/packages/psec/py3-paho-mqtt2
        run: |
          sudo -u builder abuild checksum
          sudo -u builder abuild -r

      - name: Upload packages
        uses: actions/upload-artifact@v4
        with:
          name: py3-paho-mqtt2
          path: /home/builder/packages/psec/x86_64/*.apk
